@model List<InboxMessageListDto>
@{
    ViewData["Title"] = "InboxMessageList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Gelen Mesajlar</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Message/InboxMessageList/">Anasayfa</a></li>
                    <li class="breadcrumb-item active">Gelen Mesajlar</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Gönderen</th>
                                    <th>Konu</th>
                                    <th>Mesaj</th>
                                    <th>Gönderilme Tarihi</th>
                                    <th>Durum</th>
                                    <th>Önemli Mesajlara Al</th>
                                    <th>Çöpe Al</th>
                                    <th>Detay</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Sender.Name @item.Sender.Surname</td>
                                        <td>@item.Subject</td>
                                        <td>@item.Content</td>
                                        <td>@item.SendingTime.ToString("dd-MM-yyy")</td>
                                        <td>@item.IsRead</td>
                                        <td>
                                            <a href="/Admin/Message/ChangeIsReadMessage/@item.MessageId">
                                                @{
                                                    if (item.IsRead == false)
                                                    {

                                                        <i style="color:dimgray;font-size:20px" class="fas fa-envelope"></i>
                                                    }

                                                    else
                                                    {
                                                        <i style="color:forestgreen;font-size:20px" class="fas fa-envelope-open-text"></i>
                                                    }
                                                }
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/Admin/Message/ChangeIsImportantMessage/@item.MessageId">
                                                @{
                                                    if (item.IsImportant == false)
                                                    {

                                                        <i style="color:lightskyblue;font-size:20px" class="fas fa-star"></i>
                                                    }
                                                    else
                                                    {
                                                        <i style="color:palevioletred;font-size:20px" class="fas fa-star"></i>
                                                    }
                                                }
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/Admin/Message/ChangeIsJunkMessage/@item.MessageId">
                                                @{
                                                    if (item.IsJunk == false)
                                                    {
                                                        <i style="color:palevioletred;font-size:20px" class="fas fa-trash-alt"></i>
                                                    }
                                                    else
                                                    {
                                                        <i style="color:lightskyblue;font-size:20px" class="fas fa-trash-alt"></i>
                                                    }
                                                }
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/Admin/Message/DetailMessage/@item.MessageId"><i class="fas fa-envelope-open"></i> Mesajı Oku</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Gönderen</th>
                                    <th>Konu</th>
                                    <th>Mesaj</th>
                                    <th>Gönderilme Tarihi</th>
                                    <th>Durum</th>
                                    <th>Önemli Mesajlara Al</th>
                                    <th>Çöpe Al</th>
                                    <th>Detay</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>