@model List<InboxMessageListDto>

<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        @{
            if (Model.Count()==0)
            {
                <i class="far fa-comments"></i>
                <span style="font-size:small" class="badge badge-success navbar-badge">@Model.Count()</span>
            }
            else
            {
                <i class="far fa-comments"></i>
                <span style="font-size:small" class="badge badge-danger navbar-badge">@Model.Count()</span>
            }
        }
       
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        @foreach (var item in Model)
        {
            <a href="/Admin/Message/ReadMessage/@item.MessageId" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                    <img src="@item.Sender.ImageUrl" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            @item.Sender.Name @item.Sender.Surname
                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">
                            @{
                                if (item.Content?.Length > 50)
                                {
                                    @item.Content.Substring(0, 50)
                                    ;
                                }
                                else
                                {
                                    @item.Content?.ToString()
                                    ;
                                }
                            }...
                        </p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> @item.SendingTime.ToString("dd.MM.yyy HH:ss")</p>
                    </div>
                </div>
                <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
        }
        <a href="/Admin/Message/InboxMessageList" class="dropdown-item dropdown-footer">Bütün Mesajları Göster</a>
    </div>
</li>